/* App.css */
* {
    margin: 0;
    padding: 0;
  }
  
  .main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height: 109vh;
  }
  
  .navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
  }
  
  .icon {
    width: 200px;
    float: left;
    height: 70px;
  }
  
  .logo {
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
  }
  
  .menu {
    width: 400px;
    float: left;
    height: 70px;
  }
  
  ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
  }
  
  ul li link {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  .menu ul li a:visited {
    background-color: black;
    color: #ff7200; /* Replace with your desired second color */
  }
  .menu ul li a:active {
    background-color: black;
    color: #ff7200; /* Replace with your desired second color */
  }
  /* Add this to your existing CSS */

.menu ul li .active,
.menu ul li a:visited {
  color: #ff7200;
  background-color: black; /* Replace with your desired second color */
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh; /* Adjust the height as needed */
  padding: 0 50px; /* Add padding for better visibility */
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  line-height: 55px;
  color: #f8f3f3;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  padding-top: 50px;
  padding-left:900px;
  
}

h1 span {
  color: #ff7200; /* Orange color */

}

.par {
  font-size: 0.9rem;
  color: rgb(235, 235, 235);
  text-align: center; /* Align text to the right */
  max-width: 500px; /* Set a maximum width if needed */
  margin-top: 250px; /* Adjust margin as needed */
  
}

  
  .image {
    height: 300px;
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
    position: absolute;
    overflow: hidden;
  }
  
  