/* styles.css */

* {
    margin: 0;
    padding: 0;
  }
  
  .main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%);
    background-position: center;
    background-size: cover;
    height: 109vh;
  }
  
  .navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
  }
  
  .icon {
    width: 200px;
    float: left;
    height: 70px;
  }
  
  .logo {
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
  }
  
  .menu {
    width: 400px;
    float: left;
    height: 70px;
  }
  
  ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
  }
  
  ul li a {
    text-decoration: none;
    color: #5426aa;
    font-family: Arial;
    font-weight: bold;
    
    
  }
  .menu ul li a{
    color: #4e38c7; /* Replace with your desired second color */
  }
.menu ul li a:visited {
  color: #3e299b;/* Replace with your desired second color */
}
  
  /* Add this to your existing CSS */

/* .menu ul li a:active {
    background-color: black;
    color: #ff7200; 
  } */
  
  
  .content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    text-align: center;
  }
  