/* home.css */

.main {
  /* background-image: url('../../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Adjust the text color based on your background image */
}

.content {
  text-align: center;
}

.par {
  font-size: 24px;
  line-height: 1.5;
}

h1 span {
  color: #ff6347; /* Add a color to the span in your h1 if desired */
}
